@model _1.Models.ProductCreateViewModel;

@{
    Layout = "_Layout";
}

<h4>Product Entry Form</h4>
<hr />
<form asp-controller="Product" asp-action="Create" enctype="multipart/form-data"
      method="post" class="mt-3">

    <div class="form-group row">
        <label asp-for="productId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="productId" class="form-control mb-2" />
            <span asp-validation-for="productId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="productName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="productName" class="form-control mb-2" />
            <span asp-validation-for="productName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="productDescription" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="productDescription" class="form-control mb-2"></textarea>
            <span asp-validation-for="productDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="quantity" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="quantity" class="form-control mb-2" />
            <span asp-validation-for="quantity" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="unitPrice" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="unitPrice" class="form-control mb-2" />
            <span asp-validation-for="unitPrice" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="productImage" class="col-sm-2 col-form-label mb-2"></label>
        <div class="col-sm-10">
            <input asp-for="productImage" class="form-control">
            <span asp-validation-for="productImage" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="productImages" class="col-sm-2 col-form-label mb-2"></label>
        <div class="col-sm-10">
            <input asp-for="productImages" class="form-control">
            <span asp-validation-for="productImages" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary bm-2" />
    </div>
</form>
<div>
    <a asp-controller="Product" asp-action="GetAllProducts">Back to List</a>
</div>